<li class="list-item pt-5">         </li>
<li class="list-item pt-5">         </li>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item active">Модель вертолета</li>
                <li class="list-group-item">
                    <h3>Airbus</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Airbus Helicopters H130</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Airbus Helicopters H125</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Airbus Helicopters H120</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <h3>Robinson</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Robinson R66 Turbine</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Robinson R44 Raven I</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Robinson R44 Raven II</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Robinson R44 Clipper I</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item active">Стоимость</li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="От...">
                            </li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="До...">
                            </li>
                        </ul>
                    </div>
                    <div class="w-100"></div>
                    <div class="col pt-3">
                        <ul class="list-group">
                            <li class="list-group-item active">Дальность полета</li>
                            <li class="list-group-item">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Выбрать дальность</option>
                                    <option value="1">200</option>
                                    <option value="2">300</option>
                                    <option value="3">400</option>
                                    <option value="4">500</option>
                                    <option value="5">600</option>
                                    <option value="6">700</option>
                                    <option value="7">800</option>
                                    <option value="8">900</option>
                                    <option value="9">1000</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item active">Год выпуска</li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="От...">
                            </li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="До...">
                            </li>
                        </ul>
                    </div>
                    <div class="w-100"></div>
                    <div class="col pt-3">
                        <ul class="list-group">
                            <li class="list-group-item active">Тип топлива</li>
                            <li class="list-group-item">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Выбрать топливо</option>
                                    <option value="1">TC-1(керосин)</option>
                                    <option value="2">100LL(бензин)</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item active">Налет часов</li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="От...">
                            </li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="До...">
                            </li>
                        </ul>
                    </div>
                    <div class="w-100"></div>
                    <div class="col pt-3">
                        <ul class="list-group">
                            <li class="list-group-item active">Колличество двигателей</li>
                            <li class="list-group-item">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<h2>Все вертолеты</h2>
<h3>@Model.currentCategory</h3>*@
<div class="row mt-5 mt-2 text-center card-group">
    @{
        foreach (var helicopter in Model.getAllHelicopters)
        {
            <div class="card shadow p-3" style="width: 18rem;">
                <img src=@helicopter.image class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@helicopter.name</h5>
                    <p class="card-text">@helicopter.price.ToString("c")</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
            @*<div>
                <h2>Модель: @helicopter.name</h2>
                <p>Цена: @helicopter.price.ToString("c")</p>
            </div>*@
        }
    }

</div>